<!doctype html>
<html lang="en" data-theme="cupcake">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>People</title>
    <link rel="stylesheet" href="/css/output.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>

<%- include('../public/svgs/icons.svg') %>

<body class="font-mont font-emoji" data-current-user-id="<%= btoa(currentUserId) %>">
    <!-- Upper Nav -->
    <div class="bg-navbg flex justify-between sticky top-0 w-full h-[3.5rem] px-4 ">
        <!-- left part -->
        <div class="flex space-x-4 items-center">
            <!-- Logo & Name-->
            <a href="../Home_Page/index.html">
                <div class="flex items-center">
                    <div class="h-[50px] w-[55px] ">
                        <!--changed-->
                        <img class="" src="/assets/logo.png" alt="">
                    </div>
                    <span class="ml-3 font-bold text-lg text-[#9376e0]">CONKAT</span>
                    <!--changed-->
                </div>
            </a>
            <!-- Search Bar -->
            <div class="top-nav-search flex items-center bg-navbg rounded-lg px-3 border-2 border-lightpurple">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon" viewBox="0,0,256,256" width="25px" height="25px">
                    <use xlink:href="#icon-search"></use>
                </svg>
                <input class=" bg-navbg text-lightpurple max-w-[15vw] text-md p-[0.45rem] pl-3 rounded-full focus:outline-none placeholder-lightpurple " placeholder="Search" type="text">
            </div>
        </div>
        <!-- Middle Part -->
        <div class="top-nav-middle min-w-[25vw] flex justify-between items-center">
            <!-- Home -->
            <div class="px-2 border-b-[3.5px] group h-full flex items-center border-black/0 hover:border-lightpurple duration-200">
                <a href="../Home_Page/index.html" class="p-2 rounded-md group-hover:bg-lightpurple duration-200">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" x="0" y="0" viewBox="0 0 511 511.999" style="enable-background:new 0 0 512 512" xml:space="preserve" class="fill-lightpurple group-hover:fill-navhoverfill icon">
                        <use xlink:href="#icon-home"></use>
                    </svg>
                </a>
            </div>
            <!-- Explore -->
            <div class="px-2 border-b-[3.5px] group h-full flex items-center border-black/0 hover:border-lightpurple duration-200">
                <a href="../Explore_Page/index.html" class="p-2 rounded-md group-hover:bg-lightpurple duration-200 fill-lightpurple group-hover:fill-navhoverfill">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" x="0" y="0" viewBox="0 0 32 32" style="enable-background:new 0 0 512 512" xml:space="preserve" class="icon">
                        <use xlink:href="#icon-explore"></use>
                    </svg>
                </a>
            </div>
            <!-- Messages -->
            <div class="px-2 border-b-[3.5px] group h-full flex items-center border-black/0 border-lightpurple duration-200">
                <a href="../People_Search_Pages/people.html" class="p-2 rounded-md bg-lightpurple duration-200 fill-navhoverfill">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" x="0" y="0" viewBox="0 0 32 32" style="enable-background:new 0 0 512 512" xml:space="preserve" class="icon">
                        <use xlink:href="#icon-messages"></use>
                    </svg>
                </a>
            </div>
        </div>

        <!-- Right Part -->
        <div class="flex space-x-2 lg:pl-[10vw] items-center">
            <!-- Create -->
            <div class="create-post-button flex justify-center  group rounded-xl  items-center h-[80%] px-2 hover:scale-105 hover:bg-lightpurple duration-200">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" x="0" y="0" viewBox="0 0 6.35 6.35" style="enable-background:new 0 0 512 512" xml:space="preserve" class="group-hover:scale-110 duration-200 fill-lightpurple group-hover:fill-navhoverfill icon">
                        <use xlink:href="#icon-create"></use>
                    </svg>
                </a>
            </div>

            <!-- Notification -->
            <div id="top-nav-notification-button" class=" flex justify-center rounded-xl group items-center h-[80%] px-2 hover:scale-105 hover:bg-lightpurple duration-200 top-nav-notification-button">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" x="0" y="0" viewBox="0 0 32 32" style="enable-background:new 0 0 512 512" xml:space="preserve" class="group-hover:scale-110 duration-200 fill-lightpurple group-hover:fill-navhoverfill icon">
                        <use xlink:href="#icon-notification"></use>
                    </svg>
                </a>
            </div>

            <!-- Account -->
            <div id="top-nav-account-button" class=" flex justify-center items-center h-[80%] px-3">
                <a href="#">
                    <div id="account" class="h-[35px] w-[35px] rounded-full hover:scale-110 duration-200 border-black account">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- body -->
    <div class="people_body absolute h-[calc(100%-3.5rem)] w-full">
        <!-- Transparent Overlay -->
        <div id="transparent-overlay" class="hidden z-10 h-screen w-screen fixed top-0 left-0"></div>

        <!-- Overlay -->
        <div id="postcard-see-more-popup-overlay" class="hidden z-10 h-screen w-screen backdrop-blur-sm  fixed top-0 left-0"></div>

        <!-- people main -->
        <div class="people_main absolute flex h-full w-full flex-row bg-transparent">

            <!-- left bar - all people -->
            <div class="all_people absolute flex h-full w-1/4 flex-col border-r-[1px] border-[#071952] gradviolet">
                <!-- heading -->
                <div class="heading w-[100% - 2rem] m-4 flex h-16 items-center justify-between rounded-lg border-2 border-[#dee2ff] bg-[#dee2ff] shadow-md">
                    <!-- title -->
                    <div class="ml-4 text-xl font-bold max-lg:text-lg max-md:text-base max-sm:text-sm">
                        <h1>People</h1>
                    </div>

                    <div>
                        <!-- add user btn -->
                        <div class="add-people-btn mr-2 flex cursor-pointer items-center justify-center rounded-lg pt-1 max-md:hidden" id="add-people-btn">
                            <div>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" width="35px" height="35px" fill="#000000" class="icon">
                                    <use xlink:href="#icon-add-people"></use>
                                </svg>
                            </div>
                        </div>

                        <!-- add user popup -->
                        <div id="add-people-popup" class="popup top-19 absolute z-30 hidden h-96 w-64 rounded-lg border-2 border-black p-4 shadow-lg max-md:hidden">
                            <h1 class="pl-2 text-xl font-bold">New Chat</h1>

                            <div class="popup-search mt-3 flex h-10 rounded-lg border-2 border-slate-600" title="Search People">

                                <input type="search" name="popup-search" id="popup-search" placeholder="Search People" class=" ml-1 w-full bg-[#F3F8FF] pl-1 outline-none" />
                                <button class="w-[2.8rem] mr-[0.2rem] add-people-search-btn">
                                    <img class="h-full w-full hover:scale-105 hover:duration-300" src="/assets/3844432_magnifier_search_zoom_icon.png" alt="Search">
                                </button>
                            </div>

                            <!-- all users -->
                            <div class="popup-people-all mt-2 flex h-[calc(100%-6rem)] grow flex-col overflow-y-auto">
                                <% peopleToAdd.forEach((element) => { %>
                                <div class="popup-people" data-id="<%= btoa(element._id) %>" data-element="<%= btoa(JSON.stringify(element)) %>" onclick="addPeopleToChat(this)">
                                    <% if(element.profilePic) { %>
                                    <img src="<%=element.profilePic %>" alt="User" />
                                    <% } else { %>
                                    <img src="https://avatar.iran.liara.run/username?username=<%= element.fullName.replace(' ', '+') %>" alt="User" />
                                    <% } %>
                                    <h3>
                                        <%= element.fullName %>
                                    </h3>
                                </div>
                                <% }) %>
                                <!-- <div class=" popup-people">
                  <img src="/assets/logo.jpeg" alt="User" />
                  <h3>Sekiro</h3>
                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- all messages title -->
                <div class="ml-6 text-2xl font-bold max-lg:text-lg max-md:text-base max-sm:text-sm">
                    <h1>All Messages</h1>
                </div>

                <!-- peoples -->
                <div id="people-parent" class="people-parent ml-6 mr-2 mt-2 overflow-y-auto *:bg-transparent">
                    <% if (currentChatPeople) { %>
                    <% currentChatPeople.forEach((element)=> { %>
                    <div class="people-child" data-element="<%= btoa(JSON.stringify(element)) %>" onclick="chatClicked(this)">
                        <div class="chats_img indicator">
                            <span class="indicator-item badge badge-success h-2 p-[0.4rem] translate-x-[5%] translate-y-[10%] hidden status"></span>
                            <% if(element.profilePic){ %>
                            <img src="<%= element.profilePic %>" alt="<%= element.fullName %>" />
                            <% } else{ %>
                            <img src="https://avatar.iran.liara.run/username?username=<%= element.fullName.replace(' ', '+') %>" alt="User" />
                            <% } %>
                        </div>

                        <div class="people_name_parent">
                            <h4 class="people_name">
                                <%= element.fullName %>
                            </h4>
                        </div>

                        <% const unreadMsg=unreadMesseges.find((msg)=> msg.senderId.toString() === element._id.toString()); %>
                        <% if (unreadMsg && unreadMsg.unreadCount !=0) { %>
                        <div class="unread-badge absolute right-8">
                            <div class="badge badge-accent">
                                <%= unreadMsg.unreadCount %>
                            </div>
                        </div>
                        <% } else { %>
                        <div class="unread-badge absolute right-8 hidden">
                            <div class="badge badge-accent">0</div>
                        </div>
                        <% } %>
                    </div>
                    <% }) %>
                    <% } %>
                    <!-- people-1 -->
                    <!-- <div class="people-child" onclick="chatClicked(this)">
            <div class="chats_img">
              <img src="/assets/logo.jpeg" alt="User" />
            </div>
            <div class="people_name_parent">
              <h4 class="people_name">Emma</h4>
              <div class="last-msg">
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div> -->
                </div>
            </div>

            <!-- right bar - all chats -->
            <div class="all_chats_container absolute right-0 flex h-full w-3/4 flex-col gradvioletrev">
                <!-- chats head -->
                <div id="chats-head" class="chats-head absolute top-0 flex hidden h-16 w-full flex-row items-center justify-between shadow-2xl bg-[#b2aef4]">
                    <!-- to user profile -->
                    <div class="to-user-profile ml-4 flex flex-row items-center justify-center space-x-3">
                        <div class="chats_img flex h-10 w-10 items-center justify-center rounded-full indicator">
                            <span class="indicator-item badge badge-success h-2 p-1 translate-x-[5%] translate-y-[10%] hidden status"></span>
                            <a href="#">
                                <img id="chat-head-img" src="/assets/logo.jpeg" alt="User" />
                            </a>
                        </div>
                        <div class="text-lg font-semibold">
                            <a href="#">
                                <h1 id="chat-head-name">Emma</h1>
                            </a>
                        </div>
                    </div>

                    <!-- alert -->
                    <div role="alert" class="alert absolute right-18 hidden h-12 w-80 p-[0.7rem] justify-center items-center font-medium border-2 border-solid border-[#9376E0] text-[#3c096c]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class=" shrink-0 w-6 h-6" stroke="#9376e0">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        <span>Deleted Message For Both</span>
                    </div>

                    <!-- to user info -->
                    <div class="mr-4">
                        <!-- to user info btn -->
                        <div id="to-user-info-btn" class="to-user-info-btn z-30 h-9 w-9 cursor-pointer hover:scale-110 hover:duration-200">
                            <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
                                <use xlink:href="#icon-info"></use>
                            </svg>
                        </div>

                        <!-- to user info popup -->
                        <div id="to-user-info-popup" class="absolute right-4 top-14 z-30 hidden h-58 w-64 flex-col rounded-lg bg-bodybg border-2 border-black">
                            <!-- name & username -->
                            <div class="mt-1 flex h-18 cursor-pointer border-b-2 border-black pl-2">
                                <img src="/assets/logo.jpeg" alt="User" class="ml-2 mt-2 h-14 w-14 rounded-full p-1" />
                                <div class="ml-3 mt-4 flex flex-col">
                                    <h3 class="mb-[-4px] text-base font-bold">Emma</h3>
                                    <h4 class="mt-0 text-sm font-medium">@emma123</h4>
                                </div>
                            </div>

                            <div class="mt-3 flex flex-col items-center justify-center space-y-1 *:p-1 *:*:font-semibold">
                                <!-- Block -->
                                <!-- <a href="#" class="mx-2 flex h-10 w-60 items-center justify-center rounded-md hover:bg-[#dee2ff]">
                    
                  </a> -->
                                <div id="block-to-user" class="mx-2 flex h-10 w-60 items-center justify-center rounded-md hover:bg-[#dee2ff] hover:cursor-pointer" onclick="blockUnblockUser(this)">
                                    <h3>Block</h3>
                                </div>

                                <!-- Report -->
                                <!-- <a href="#" class="mx-2 flex h-10 w-60 items-center justify-center rounded-md hover:bg-[#dee2ff]">
                  <div id="report-to-user">
                    <h3>Report</h3>
                  </div>
                </a> -->

                                <!-- Delete Conversation -->
                                <a href="#" class="mx-2 flex h-10 w-60 items-center justify-center rounded-md hover:bg-[#dee2ff]">
                                    <div id="delete-chat-to-user" onclick="deleteConversation()">
                                        <h3>Delete Conversation</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- all chats -->
                <div id="all-chats" class="absolute top-16 h-[calc(100%-8rem)] w-full *:bg-transparent">
                    <div id="chat-section" class="chat-section hidden">
                        <!-- profile info of to-user -->
                        <div class="to-user-profile-sec">
                            <!-- to-user-profile-sec-img -->
                            <a href="#">
                                <div class="to-user-profile-sec-img">
                                    <img src="/assets/logo.jpeg" alt="To User" />
                                </div>
                            </a>

                            <!-- to-user-profile-sec-name -->
                            <a href="#">
                                <div class="to-user-profile-sec-name">
                                    <h1>Emma</h1>
                                    <h3>@emma123</h3>
                                </div>
                            </a>
                        </div>
                        <!-- messages -->
                        <div id="messages" class="messages">
                            <div class="message-container">
                                <!-- <div class="day">
                  <div class="date">
                    <h1>23 Feb, 2024</h1>
                  </div>
                </div> -->
                                <!-- <div class="to-user-msg">
                  <div class="msg-container">
                    <p>Hi</p>
                    <span>11:11</span>
                  </div>
                  <div class="pl-2 delete-msg-btn hidden">
                    <button class="btn btn-circle btn-outline btn-secondary h-6 w-6 min-h-4 group">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 group-hover:stroke-[#9376E0]" fill="none" viewBox="0 0 24 24" stroke="#dee2ff">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div> -->

                                <!-- <div class="from-user-msg">
                  <div class="pr-2 delete-msg-btn hidden">
                    <button class="btn btn-circle btn-outline btn-accent h-6 w-6 min-h-4 group">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 group-hover:stroke-[#dee2ff]" fill="none" viewBox="0 0 24 24" stroke="#9376E0">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                  <div class="msg-container">
                    <p>Hi</p>
                    <span>11:11</span>
                  </div> 
                </div>  -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- chats end -->
                <div id="chats-end" class="absolute bottom-0 flex hidden h-16 w-full flex-row items-center justify-between shadow-2xl bg-[#b2aef4] p-2 *:mx-1">
                    <!-- emoji -->
                    <div id="emoji-btn" class="cursor-pointer max-sm:hidden">
                        <div id="emoji-popup-btn" class="emoji-popup-btn flex h-8 w-8 items-center justify-center hover:scale-110 hover:duration-200">
                            <img src="/assets/smile.png" alt="Emoji" />
                        </div>

                        <div id="emoji-popup" class="popup absolute bottom-16 left-0 hidden h-80 w-[24rem] rounded-lg border-1 ml-1 mb-1 border-black p-3 shadow-lg z-50">
                            <div class="p-2 text-xl font-bold">
                                <h1>Emoji</h1>
                            </div>

                            <emoji-picker class="light"></emoji-picker>
                        </div>
                    </div>

                    <!-- message input area -->
                    <div class="flex w-[93%] items-center justify-center">
                        <textarea id="msg-input" cols="30" rows="10" placeholder="Type a message..." type="text" class="h-10 w-full resize-none flex-wrap rounded-md p-2 outline-none"></textarea>
                    </div>

                    <!-- send button -->
                    <div id="send-btn">
                        <div class="flex h-8 w-8 cursor-pointer items-start justify-center rounded-full mt-1 mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" x="0" y="0" viewBox="0 0 512.005 512.005" style="enable-background:new 0 0 512 512" xml:space="preserve" class="hover:scale-110 hover:duration-200 icon">
                                <use xlink:href="#icon-send"></use>
                            </svg>
                        </div>
                    </div>
                </div>

                <div id="chats-end-block" class="absolute bottom-0 flex hidden h-16 w-full flex-row items-center justify-center shadow-2xl bg-[#b2aef4] p-2 *:mx-1">
                    <div class="block-status flex items-center justify-center font-semibold">
                        <span>You conversation is blocked</span>
                    </div>
                </div>

            </div>
        </div>

        <!-- CREATE POST POPUP -->
        <div id="create-post-popup" class="hidden flex z-30 text-black font-semibold bg-bodybg border-2 border-black rounded-xl fixed  top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] flex-col w-[550px]">
            <!-- close -->
            <div id="create-post-popup-close" class="absolute top-0 right-0 flex justify-center items-center m-2 rounded-full hover:bg-red-300">
                <button>
                    <svg fill="navhoverfill" width="25" height="25" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" class="icon">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </div>
            <div class="divide-y-2 divide-black border-black">
                <!-- Header -->
                <div class="py-2 rounded-t-xl w-full flex items-center justify-center">
                    Create Post
                </div>
                <!-- Text Area -->
                <textarea placeholder="Type your post here..." class="resize-y w-full focus:outline-none p-3" name="" id="" cols="30" rows="10"></textarea>
                <!-- Attachments -->
                <div class="flex flex-col divide-y-2  divide-black">

                    <div class="flex w-full items-center divide-x-2 divide-black">
                        <button class="w-1/3 grad-background-effect py-2 flex justify-center items center">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" x="0" y="0" viewBox="0 0 682.667 682.667" style="enable-background:new 0 0 512 512" xml:space="preserve" class="mr-4">
                                <use xlink:href="#icon-attachment-image"></use>
                            </svg><span>Image</span>
                        </button>
                        <button class="w-1/3 grad-background-effect py-2 flex justify-center items center">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" x="0" y="0" viewBox="0 0 682.667 682.667" style="enable-background:new 0 0 512 512" xml:space="preserve" class="hovered-paths mr-4">
                                <use xlink:href="#icon-attachment-video"></use>
                            </svg><span>Video</span>
                        </button>
                        <button class="w-1/3 grad-background-effect py-2 flex justify-center items center">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" x="0" y="0" viewBox="0 0 64 64" style="enable-background:new 0 0 512 512" xml:space="preserve" class="mr-4 icon">
                                <use xlink:href="#icon-attachment-gif"></use>
                            </svg><span>GIF</span>
                        </button>
                    </div>
                </div>
                <!-- Create -->
                <div class="w-full flex items-center py-2 justify-center">
                    <!-- Create Button -->
                    <button class="my-1 right-sidebar-follow-button font-semibold flex items-center text-sm py-3 px-10 rounded-md">
                        Create
                    </button>
                </div>
            </div>
        </div>

        <!-- notification popup -->
        <div id="notification-popup" class="bg-bodybg hidden text-black z-20 border-2 border-black w-[350px] rounded-xl fixed top-[60px] right-[40px] pb-2 flex flex-col items-center">
            <!-- TRANSPARENT OVERLAY SPECIFICALLY FOR THE NOTIFICATION POPUP -->
            <div id="transparent-overlay-notification-popup" class="h-full hidden w-full z-30 absolute top-0 right-0">
            </div>
            <!-- NOTIFICATION MORE POPUP -->
            <div id="notification-more-popup" class="rounded-xl z-40 hidden absolute top-[54px] right-[28px] text-sm font-semibold border-2 space-y-4 w-[250px] bg-navbg border-black p-3 flex flex-col items-center">
                <!-- mark all as read -->
                <button class="flex w-full items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="ml-2 mr-3 icon">
                        <use xlink:href="#icon-tick"></use>
                    </svg>
                    <span>Mark all as read</span>
                </button>
                <!-- notification Settings  -->
                <a href="#" class="flex w-full items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 682.667 682.667" style="enable-background:new 0 0 512 512" xml:space="preserve" class="ml-2 mr-3 icon">
                        <use xlink:href="#icon-notification-settings"></use>
                    </svg>
                    <span>Notification Settings</span>
                </a>
            </div>
            <div class="flex flex-col w-full items-center divide-y-2 divide-black">
                <!-- Header -->
                <div class="py-2 px-4 flex w-full items-center justify-between">
                    <span class="text-lg font-semibold flex items-center">All Notification</span>
                    <button id="notification-more-button" class="rounded-full grad-background-effect p-1">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class="icon">
                            <use xlink:href="#icon-three-dots"></use>
                        </svg>
                    </button>
                </div>
                <!-- Notification Tiles -->
                <div id="notification-div" class=" w-full px-2  h-[300px] overflow-auto items-center">
                    <!-- Single Notification -->
                    <div class="relative flex py-3 px-1 items-center">
                        <!-- SINGLE NOTIFICATION MORE POPUP -->
                        <div id="single-notification-more-popup" class="rounded-xl z-40 hidden absolute top-[54px] right-[28px] text-sm font-semibold border-2 space-y-4 w-[250px] bg-navbg border-black p-3 flex flex-col items-center">
                            <!-- mark as read -->
                            <button class="flex w-full items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="ml-2 mr-3 icon">
                                    <use xlink:href="#icon-tick"></use>
                                </svg>
                                <span>Mark as read</span>
                            </button>
                            <!-- Remove notification  -->
                            <a href="#" class="flex w-full items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 384 384" style="enable-background:new 0 0 512 512" xml:space="preserve" class="hovered-paths ml-2 mr-3 icon">
                                    <use xlink:href="#icon-remove"></use>
                                </svg>
                                <span>Remove Notification</span>
                            </a>
                        </div>
                        <div class=" flex justify-center items-center h-[80%] px-3">
                            <a href="#">
                                <div id="account" class="h-[40px] w-[40px] rounded-full hover:scale-110 duration-200 border-black ">
                                </div>
                            </a>
                        </div>
                        <div class="w-[70%] text-sm font-semibold items-center">
                            You have recieved a new message from Joy.
                        </div>
                        <span class="text-inherit text-sm flex justify-center items-center mx-1 mr-2">3h</span>
                        <button id="single-notification-more-button" class="rounded-full grad-background-effect p-1">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class="icon">
                                <use xlink:href="#icon-three-dots"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="w-full h-[80px]"></div>
                </div>
            </div>
        </div>

        <!-- ACCOUNT POPUP -->
        <div id="account-popup" class="bg-bodybg hidden z-20 w-[300px] border-2 border-black fixed top-[60px] right-[10px]  rounded-xl flex flex-col justify-center">
            <div class="flex flex-col  items-center divide-y-2 divide-black">
                <!-- Header -->
                <div class="flex w-full p-2 items-center ">
                    <!-- Account -->
                    <a href="#" class="flex items-center">
                        <div class=" flex justify-center items-center h-[80%] px-3">
                            <!-- <a href="#"> -->
                            <div id="account" class="h-[40px] w-[40px] rounded-full hover:scale-110 duration-200 border-black ">
                            </div>
                        </div>
                        <!-- Text -->
                        <div class="flex flex-col py-1">
                            <h3 class="font-semibold text-md">Joy Mridha</h3>
                            <h3 class="text-xs">@joy123</h3>
                        </div>
                    </a>
                </div>
                <div class=" flex flex-col w-full ">
                    <!-- Settings -->
                    <button class="flex pb-3 pt-5 pl-8 pr-2 w-full grad-background-effect">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="hovered-paths mr-3 icon">
                            <use xlink:href="#icon-account-settings"></use>
                        </svg>
                        <span>Account Settings</span>
                    </button>
                    <!-- Night Mode -->
                    <div class="flex py-2 pt-3 pl-8 pr-2 w-full">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" x="0" y="0" viewBox="0 0 32 32" style="enable-background:new 0 0 512 512" xml:space="preserve" class="mr-3 icon">
                            <use xlink:href="#icon-night-mode"></use>
                        </svg>
                        <span>Night Mode</span>
                        <!-- Night Mode Toggle Button -->
                        <div class="mb-2 flex w-fit items-center justify-center ml-14">
                            <label for="nm-toggle" class="flex cursor-pointer items-center">
                                <div class="relative">
                                    <input type="checkbox" id="nm-toggle" class="sr-only" />
                                    <div class="nm-toggle-bg block h-7 w-12 rounded-full bg-gray-600"></div>
                                    <div class="dot absolute left-1 top-1 h-5 w-5 rounded-full bg-white transition">
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Log out -->
                <button class="flex py-3 pl-8 pr-2 w-full rounded-b-xl grad-background-effect">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" x="0" y="0" viewBox="0 0 682.667 682.667" style="enable-background:new 0 0 512 512" xml:space="preserve" class="mr-3 icon">
                        <use xlink:href="#icon-logout"></use>
                    </svg>
                    <span>Log Out</span>
                </button>
            </div>
        </div>

    </div>
    </div>
</body>

<script src="/js/components/messages.js"></script>
<script type="module" src="/js/components/emojiPicker.js"></script>
<script src="/js/components/header.js"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket/socket.js"></script>

</html>